@{
    ViewBag.Title = "Customer";
}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>

<div class="row my-1">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" id="headingOne">
                <input class="form-control form-control-sm rounded-0 col-sm-2 float-left m-1" type="search" id="txtSearch" placeholder="Search">
                @*<button type="button" class="btn btn-sm btn-dark float-right m-1" onclick="location.href='@Url.Action("ExportStopcodeToExcel")'">Export Stopcodes</button>*@
                <button id="btnAddNewCustomerView" type="button" class="btn btn-sm float-right m-1">+ New Customer</button>
            </div>
            <div class="card-body p-0">
                <table class="table-responsive" id="gridCustomers"></table>
            </div>
        </div>
    </div>
</div>

<div id="dialogAddCustomer" class="gj-hidden">
    <div data-role="body">
        <form>
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label for="CustomerSSN" class="col-sm-5 pt-1">CustomerSSN *</label>
                        <div class="col-sm-7">
                            <input type="text" class="gj-textbox-md" id="CustomerSSNId" placeholder="CustomerSSN">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="FullName" class="col-sm-5 pt-1">FullName *</label>
                        <div class="col-sm-7">
                            <input type="text" class="gj-textbox-md" id="FullNameId" placeholder="FullName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="LoanAmount" class="col-sm-5 pt-1">LoanAmount *</label>
                        <div class="col-sm-7">
                            <input type="text" class="gj-textbox-md" id="LoanAmountId" placeholder="LoanAmount">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="EquityAmount" class="col-sm-5 pt-1">EquityAmount *</label>
                        <div class="col-sm-7">
                            <input type="text" class="gj-textbox-md" id="EquityAmountId" placeholder="EquityAmount">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="SalaryAmount" class="col-sm-5 pt-1">SalaryAmount</label>
                        <div class="col-sm-7">
                            <input type="text" class="gj-textbox-md" id="SalaryAmountId" placeholder="SalaryAmount">
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div data-role="footer">
        <button type="button" id="btnCancelAddNewCustomer" class="btn btn-dark btn-sm">Cancel</button>
        <button type="button" id="btnAddNewCustomer" class="btn btn-success btn-sm">Add</button>
    </div>
</div>


<div id="dialogValidation" class="gj-hidden">
    <div data-role="body">
        <p class="text-dark" id="message"></p>
    </div>
    <div data-role="footer">
        <button type="button" id="btnCloseValidation" class="btn btn-dark btn-sm">Close</button>
    </div>
</div>

<script>
    var dialogAddCustomer, ;


    function AddNewCustomerView() {
        dialogAddStopcode.open('Add New Customer');
    }

    function AddNewStopcode() {
        var record = {
            CustomerSSN: $('#CustomerSSNId').val(),
            FullName: $('#FullNameId').val(),
            LoanAmount: $('#LoanAmountId').val(),
            EquityAmount: $('#EquityAmountId').val(),
            SalaryAmount: $('#SalaryAmountId').val(),
        };
        if (!record.CustomerSSN.length || !record.FullName.length || !record.LoanAmount.length || !record.EquityAmount.length || !record.SalaryAmount.length) {
            $('#message').text('CustomerSSN, FullName, LoanAmount, EquityAmount and SalaryAmount are required.');
            dialogValidation.open('Warning');
            return;
        }
        $.ajax({ url: '/Customer/AddNewCustomer', data: { record: record }, method: 'POST' })
            .done(function (data) {
                if (data.result == false) {
                    if (data.exMessage) {
                        $('#message').text(data.exMessage);
                        dialogValidation.open('Error');
                    }
                    else {
                        $('#message').text('Please provide input.');
                        dialogValidation.open('Warning');
                    }
                }
                else {
                    dialogAddCustomer.close();
                    $('#message').text('New Customer added successfully.');
                    dialogValidation.open('Success');
                    grid.reload();
                }
            })
            .fail(function () {
                $('#message').text('Unknown Error: Failed to save.');
                dialogValidation.open('Error');
            });
    }
    $(document).ready(function () {
        grid = $('#gridCustomers').grid({
            guid: '58d47231-ac7b-e6d2-ddba-5e0195c33f2g',
            optimisticPersistence: { localStorage: ["page", "limit"] },
            primaryKey: 'Id',
            dataSource: '/Customers/GetAllCustomers',
            headerFilter: {
                type: 'onchange'
            },
            uiLibrary: 'bootstrap4',
            bodyRowHeight: 'fixed',
            fontSize: '12px',
            columns: [
                //{ field: 'Id', hidden: true },
                { field: 'CustomerSSN', title: 'CustomerSSN', sortable: true, width: '20%' },
                { field: 'FullName', title: 'FullName', sortable: false, width: '30%' },
                { field: 'LoanAmount', title: 'LoanAmount', sortable: false, width: '15%' },
                { field: 'EquityAmount', title: 'EquityAmount', sortable: false, width: '15%' },
                { field: 'SalaryAmount', title: 'SalaryAmount', sortable: false, width: '15%' },

            ],
            pager: { limit: 10 }
        });
    });

    dialogAddCustomer = $('#dialogAddCustomer').dialog({
        autoOpen: false,
        resizable: true,
        draggable: true,
        modal: true,
        scrollable: true,
        width: 600,
        height: 550
    });

    
    dialogValidation = $('#dialogValidation').dialog({
        autoOpen: false,
        resizable: true,
        draggable: true,
        modal: true,
        scrollable: true,
        width: 480
    });

    $('#btnCloseValidation').on('click', function () { dialogValidation.close(); });

    $('#btnAddNewCustomerView').on('click', AddNewCustomerView);
    $('#btnAddNewCustomer').on('click', AddNewCustomer);
    $('#btnCancelAddNewCustomer').on('click', function () { dialogAddCustomer.close(); });

   
    $('#txtSearch').keyup(function () {
        grid.reload({ page: 1, searchText: $('#txtSearch').val() });
    });
</script>